mat-toolbar {
  height: 40px;
  padding: 0;
}

video {
  display: block;
}

.stream-view-title {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  cursor: move;
}
