<section fxLayout="column" fxLayoutGap="32px">
  <header class="mat-display-1">Connect with</header>
  <article class="mat-subheading-1">To be able to use me as a service, it's required to login. This way I can connect your devices and you can easily manage them from anywhere</article>

  <div fxLayout="column" fxLayoutGap="8px">
    <button *ngFor="let provider of loginProviders" class="continue-button light-border rounded-border"
            fxLayout fxLayoutAlign="start center" fxLayoutGap="16px" [ngClass]="provider[1] + '-button'"
            (click)="onContinueClick(provider[1])">
      <img src="../../../../../assets/media/image/social/{{provider[1]}}-logo.png">
      <span>Continue with {{provider[0]}}</span>
    </button>
  </div>
</section>
