<ng-container *ngIf="inputs$ | async as inputs">
  <ng-container *ngIf="localDeviceState$ | async as state">
    <header class="mat-display-1" matDialogTitle>Choose the video and audio input device</header>

    <div fxLayout="column" fxLayoutGap="32px" matDialogContent>
      <div *ngIf="state === states.NotAdded" class="mat-subheading-1">I've detected the input devices on your system. Please select your desired device(s). You can also disable either the audio or video stream.<br>
        I've have already selected the default devices from your system
      </div>
      <div *ngIf="state === states.LocalNotSaved" class="mat-subheading-1">I've detected a stored device on this system, but I cannot link it with any known saved device. Please choose the correct input devices to link this device to your account, or delete the locally stored device
      </div>

      <div *ngFor="let source of sources" fxLayout="column" fxLayoutGap="16px" fxFlex="none">
        <ng-container *ngIf="inputs[source.prop] as input">
          <div fxLayout fxLayoutAlign="start center" fxLayoutGap="8px" class="mat-h2">
            <button mat-mini-fab [class.disabled]="input.disabled" [disabled]="!input.devices.length" (click)="input.disabled = !input.disabled">
              <mat-icon>{{source.icon + (input.disabled ? '_off' : '')}}</mat-icon>
            </button>
            <header>
              <ng-container *ngIf="!input.devices.length">no </ng-container>{{source.prop}} inputs found
            </header>
          </div>

          <mat-radio-group fxLayout="column" fxLayoutGap="8px" [(ngModel)]="input.selected" [disabled]="input.disabled">
            <mat-radio-button *ngFor="let device of input.devices" [value]="device" [checked]="!input.disabled && device === input.selected">
              {{device.label || device.deviceId}}
            </mat-radio-button>
          </mat-radio-group>
        </ng-container>
      </div>

      <mat-form-field>
        <input matInput cdkFocusInitial type="text" placeholder="Device name" required [(ngModel)]="deviceName">
      </mat-form-field>
    </div>

    <div fxLayout fxLayoutGap="12px" fxLayoutAlign="start center" matDialogActions>
      <button *ngIf="state === states.NotAdded" mat-raised-button matDialogClose>Cancel</button>
      <button *ngIf="state === states.LocalNotSaved" color="warn" mat-raised-button matDialogClose
              (click)="onDeleteClick(state)">Delete</button>
      <button mat-raised-button matDialogClose color="accent"
              [disabled]="!inputs.audio.selected && !inputs.video.selected || inputs.audio.disabled && inputs.video.disabled || !deviceName"
              (click)="onAddDeviceClick(inputs, state)" >Add device</button>
    </div>
  </ng-container>
</ng-container>
