<ng-container *ngIf="inputs$ | async as input">
  <header class="mat-display-1" matDialogTitle>Choose the video and audio input device</header>

  <div fxLayout="column" fxLayoutGap="32px" matDialogContent>
    <div class="mat-subheading-1">I've detected multiple input devices on your system. Please select your desired input device(s). You can also disable either the audio or video stream.<br>
      For your convenience, I've have already selected the default devices from your system
    </div>

    <div fxLayout="column" fxLayoutGap="16px">
      <div fxLayout fxLayoutAlign="start center" fxLayoutGap="8px" class="mat-h2">
        <button mat-mini-fab (click)="onSwitchClick(input.video)" [class.disabled]="input.video.disabled">
          <mat-icon>{{input.video.disabled ? 'videocam_off' : 'videocam'}}</mat-icon>
        </button>
        <header>Video devices found</header>
      </div>

      <mat-radio-group fxLayout="column" fxLayoutGap="8px" [(ngModel)]="input.video.selected" [disabled]="input.video.disabled">
        <mat-radio-button *ngFor="let device of input.video.devices" [value]="device">
          {{device.label || device.deviceId}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div fxLayout="column" fxLayoutGap="16px">
      <div fxLayout fxLayoutAlign="start center" fxLayoutGap="8px" class="mat-h2">
        <button mat-mini-fab (click)="onSwitchClick(input.audio)" [class.disabled]="input.audio.disabled">
          <mat-icon>{{input.audio.disabled ? 'mic_off' : 'mic'}}</mat-icon>
        </button>
        <header>Audio devices found</header>
      </div>

      <mat-radio-group fxLayout="column" fxLayoutGap="8px" [(ngModel)]="input.audio.selected" [disabled]="input.audio.disabled">
        <mat-radio-button *ngFor="let device of input.audio.devices" [value]="device">
          {{device.label || device.deviceId}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div fxLayout fxLayoutGap="12px" fxLayoutAlign="start center" matDialogActions>
    <button mat-raised-button matDialogClose>Cancel</button>
    <button mat-raised-button matDialogClose cdkFocusInitial color="accent"
            [disabled]="!input.audio.selected && !input.video.selected" (click)="onAddDeviceClick(input)" >Add device</button>
  </div>
</ng-container>
