.mat-display-1 {
  margin-bottom: 0;
}

.mat-subheading-1 {
  max-width: 400px;
}

mat-radio-button {
  text-indent: 10px;
}

button.disabled {
  opacity: 0.5;
}

[matDialogContent] {
  header::first-letter {
    text-transform: uppercase;
  }
}
