html,
body {
  height: 100%;
}

body {
  margin: 0;

  color: #262626;
}

.vc-background-cover {
  background-repeat: no-repeat;
  background-size: cover;
}

.mat-button-wrapper {
  display: flex;
}

.default-route-container {
  box-sizing: border-box;

  width: 100%;
  max-width: 900px;
  padding: 52px 12px;
  margin: auto;
}

.light-border {
  border: 1px solid #CCC;
}

.rounded-border {
  border-radius: 4px;
}
