<mat-card *ngIf="device">
  <div class="stream-ui-items">
    <button mat-mini-fab color="accent" [matMenuTriggerFor]="menu" class="menu-button">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu" class="mat-body-strong">
      <button mat-menu-item fxLayout fxLayoutAlign="start center" (click)="onStartStream()">
        <mat-icon color="accent">play_circle_outline</mat-icon>
        <span>Play stream</span>
      </button>
      <button mat-menu-item fxLayout fxLayoutAlign="start center">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item fxLayout fxLayoutAlign="start center" (click)="onDeleteDevice()">
        <mat-icon color="warn">delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>

    <button mat-button class="device-label mat-body-strong" (click)="onStartStream()">{{device?.get('name')}}</button>
  </div>
</mat-card>
